body {
  background: #0A1929;
  color: #1976d2;
  font-family: 'Lucida Grande', sans-serif;
  margin: 0;
}
h2 {
  text-align: center;
}
.App {
  display: flex;
  flex-direction: row;
}

.startScreen {
  display: flex;
  height: 100vh;
}
.description {
  flex-grow: 1;
  padding: 8px;
  text-align: center;
}
.react_time_range__time_range_container {
  /* position: absolute; */
  /* bottom: 8px; */
  flex-grow: 0;
}
.react_time_range__track {
  background-color: #1976d2 !important;
  opacity: 0.5;
}
.react_time_range__handle_marker {
  background-color: #1976d2 !important;
}
.MuiOutlinedInput-root {
  color: #1976d2 !important;
}

.MuiOutlinedInput-notchedOutline {
  border-color: #1976d2 !important;
}

.columnFirst {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px;
}

.columnSecond {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
  padding: 8px;
  flex-grow: 1;
}

.peerInfo {
  display: flex;
  flex-direction: column;
  width: 400px;
  border-right: 1px solid #1976d2;
  padding: 8px;
}

.progress {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  text-align: center;
}

video::-webkit-media-controls {
  visibility: hidden;
}

video::-webkit-media-controls-enclosure {
  visibility: visible;
}

video::-webkit-media-controls-panel {
  margin-top: 20px;
  background-image: linear-gradient(transparent, transparent) !important;
}

.videoField {
  flex-grow: 1;
}

input[type='file'] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}