body {
  background: #d6e3ef;
  color: #0a1929;
  font-family: 'Lucida Grande', sans-serif;
  margin: 0;
}
h2 {
  text-align: center;
}
.App {
  display: flex;
  flex-direction: row;
}

.startScreen {
  display: flex;
  height: 100vh;
}
.description {
  flex-grow: 1;
  padding: 8px;
  text-align: center;
}
.react_time_range__time_range_container {
  padding-top: 50px !important;
  width: 86.5% !important;
  bottom: 0;
}

.react_time_range__track {
  background-color: #0a1929 !important;
  opacity: 0.5;
}
.react_time_range__handle_marker {
  background-color: #0a1929 !important;
}
.MuiOutlinedInput-root {
  color: #0a1929 !important;
}
.MuiOutlinedInput-root {
  color: #0a1929 !important;
}

.MuiOutlinedInput-notchedOutline {
  border-color: #0a1929 !important;
}

.MuiButton-outlined {
  color: #0a1929 !important;
  border-color: #0a1929 !important;
}
.MuiButton-contained {
  color: white !important;
  background-color: #0a1929 !important;
}

.MuiButton-root.Mui-disabled {
  color: #8896a4 !important;
  border-color: #8896a4 !important;
}


.columnFilter {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px;
  flex-grow: 0;
}

.columnMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
  padding: 8px;
  flex-grow: 1;
}

.peerInfo {
  display: flex;
  flex-direction: column;
  width: 400px;
  border-right: 1px solid #0a1929;
  padding: 8px;
}

.progress {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  text-align: center;
}

.smallInput {
  width: 100px;
}

video::-webkit-media-controls {
  visibility: hidden;
}

video::-webkit-media-controls-enclosure {
  visibility: visible;
}

video::-webkit-media-controls-panel {
  background-image: linear-gradient(transparent, transparent) !important;
}

.videoField {
  width: 600px;
  height: 400px;
  position: relative;
}

input[type='file'] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}